<div class="container">
  <h2 class="text-center">Lista de Usuarios</h2>

  <p *ngIf="mensajeError" class="error-message" style="color: red; font-weight: bold;">
    {{ mensajeError }}
  </p>

  <div class="table-container">
    <table *ngIf="usuarios && usuarios.length > 0; else sinUsuarios" class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>DNI</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.dni }}</td>
          <td>{{ usuario.fecha_nac }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #sinUsuarios>
    <p>No hay usuarios registrados.</p>
  </ng-template>
</div>
